{% extends "base.html" %}

{% block title %}Video Search{% endblock %}

{% block content %}
<div class="min-h-full">
    {% include "nav.html" %}

    <main class="max-w-2xl mx-auto pt-8 pb-24 px-4 sm:px-6 lg:max-w-7xl lg:px-8" x-data="search">
        <h1 x-text="`Search Result: ${query}`"
            class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"></h1>

        <div class="mt-8">
            <section aria-labelledby="video-heading" class="">
                <h2 id="video-heading" class="sr-only">Search Result Items</h2>

                <ul role="list" class="border-t border-b border-gray-200 divide-y divide-gray-200">

                    {% for video in videos %}
                    <li class="flex py-6 sm:py-10 flex-col sm:flex-row">
<!--                        <div class="min-w-fit">-->
                        <div>
                            <video preload="metadata" controls
                                   class="w-full sm:w-80 aspect-video" crossorigin="anonymous">
                                <source src="{{video.video_key|content_url_opt}}#t={{video.timing}}" type="video/mp4">
                            </video>
                        </div>

                        <div class="ml-0 sm:ml-6 mt-2 md:mt-0">
                            <a class="text-lg hover:underline" href="/video/{{video.video_id}}?t={{video.timing}}">{{video.title}}</a>
                            <div class="relative pr-9 sm:pr-0 mt-2">
                                {% for line in video.body %}
                                    <dl class="flex">
                                        <dt class="text-gray-600 w-15">{{line.time|second_format}}</dt>
                                        <dd>{{line.text}}</dd>
                                    </dl>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>

        </div>
    </main>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        const params = new URLSearchParams(location.search);

        Alpine.data('search', () => ({
            query: params.get('q') || ''
        }))
    })
</script>
{% endblock %}