{% extends "base.html" %}

{% block title %}{{video.title}}{% endblock %}

{% block content %}
<div class="min-h-full">
    {% include "nav.html" %}

    <div class="py-10">
        <header>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 px-4 flex items-center justify-between flex-warp sm:flex-nowrap ">
                <h1 class="text-3xl font-bold leading-6 text-gray-900">{{video.title}}</h1>
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="px-4 py-8 sm:px-0">
                    <video preload="metadata" controls poster="{{video.thumbnail_key|content_url_opt}}" class="w-full" crossorigin="anonymous">
                        <source src="{{video.video_key|content_url}}" type="video/mp4">
                        {% for lang in video.subtitles %}
                            <track label="{{lang}}" kind="subtitles" srclang="{{lang}}" src="https://{{content_host}}/subtitle/{{video.id}}/{{lang}}.vtt" c>
                        {% endfor %}
                    </video>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}